<aside [style.height.rem]="27" [tuiNavigationAside]="expanded()">
  <header>
    {{navigationService.navigationResource.hasValue()}}
    {{routes.Navigation}}
    <a [routerLink]="routes.Navigation" iconStart="@tui.plus" tuiAsideItem type="button" tuiAppearance="true">Add</a>
  </header>
  @for (group of navigationService.sideNavigation(); track group.label) {
    <tui-aside-group  [open]="group.open!">
      <button [iconStart]="group.icon" tuiAsideItem tuiChevron type="button">
        {{ group.label }}
        <ng-template>
          @for (item of group.children; track item.label) {
            <button [iconStart]="item.icon" tuiAsideItem type="button" (click)="navigationService.addBadge(item.path)">
              {{ item.label }}
              @if (item.badge) {
                <tui-badge appearance="accent">{{ item.badge }}</tui-badge>
              }
            </button>
          }
        </ng-template>
      </button>
    </tui-aside-group>
  }
  <footer>
    <button iconStart="@tui.message-circle-question-mark" tuiAsideItem type="button">
      Support
    </button>
    <button
      tuiAsideItem
      type="button"
      [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
      (click)="handleToggle()"
    >
      {{ expanded() ? 'Collapse' : 'Expand' }}
    </button>
  </footer>
</aside>
