<tui-root>
  <!-- Ignore this part, it is only here to position drawer inside the example block -->
  <div class="custom-portal">
    <ng-container #viewContainer />
  </div>
  <header tuiNavigationHeader>
    <button title="Menu" tuiIconButton tuiNavigationDrawer type="button" [(open)]="open">
      <tui-data-list>
        <tui-opt-group *ngFor="let group of drawer | keyvalue" [label]="group.key">
          <button *ngFor="let item of group.value" tuiOption type="button" (click)="open = false">
            <img alt="icon" [src]="item.icon" />
            {{ item.name }}
          </button>
        </tui-opt-group>
        <tui-opt-group>
          <label tuiOption>
            <input size="s" tuiSwitch type="checkbox" [(ngModel)]="switch" />
            Dark mode
          </label>
        </tui-opt-group>
      </tui-data-list>
    </button>
    <span tuiNavigationLogo>
      <tui-icon icon="@tui.home" />
      <span tuiFade>A very very long product name</span>
      <tui-badge>Test</tui-badge>
    </span>
    <span tuiNavigationSegments>
      <button appearance="secondary-grayscale" tuiButton type="button">Link 1</button>
      <button appearance="secondary-grayscale" tuiButton type="button">Link 2</button>
      <button
        appearance="secondary-grayscale"
        tuiButton
        tuiChevron
        tuiDropdownOpen
        type="button"
        [tuiDropdown]="products"
      >
        <span [style.overflow]="'hidden'" [style.text-overflow]="'ellipsis'">
          A very very long project
        </span>
        <ng-template #products>
          <tui-data-list size="s">
            <button tuiOption type="button">
              A very very long project
              <tui-icon icon="@tui.check" [style.font-size.em]="1" [style.margin-left.rem]="0.5" />
            </button>
            <button tuiOption type="button">Something else</button>
          </tui-data-list>
        </ng-template>
      </button>
    </span>
    <hr />
    <button appearance="secondary-grayscale" iconStart="@tui.plus" tuiButton type="button">
      Create
    </button>
    <button iconStart="@tui.bell" tuiIconButton type="button">
      Notifications
      <tui-badge-notification />
    </button>
    <button iconStart="@tui.ellipsis" tuiIconButton type="button">More</button>
    <tui-avatar src="AI" />
  </header>
  <div [style.display]="'flex'">

      <app-side-menu></app-side-menu>
    <main tuiNavigationMain>
      <nav compact tuiSubheader [style.position]="'sticky'">
        <tui-breadcrumbs [itemsLimit]="10">
          <ng-container *ngFor="let item of breadcrumbs; let last = last">
            <ng-container *ngIf="last">
              <strong *tuiItem tuiFade>
                {{ item }}
              </strong>
            </ng-container>
            <ng-container *ngIf="!last">
              <button *tuiItem tuiLink type="button">
                {{ item }}
              </button>
            </ng-container>
          </ng-container>
        </tui-breadcrumbs>
        <tui-tabs tuiFade>
          <button tuiTab type="button">Default view</button>
          <button tuiTab type="button">Details</button>
          <button tuiTab type="button">Followers</button>
        </tui-tabs>
        <button appearance="secondary" tuiButton type="button">Secondary</button>
        <button tuiButton type="button">Primary</button>
      </nav>
      <ng-container *tuiRepeatTimes="let index of 10">
        <form
          tuiAppearance="floating"
          tuiCardLarge
          tuiForm="m"
          [style.grid-column]="'2 / span 7'"
          [style.margin-top.rem]="1"
        >
          <header tuiHeader>
            <h2 tuiTitle>
              Registration form
              <span tuiSubtitle>Tell us about yourself</span>
            </h2>
          </header>
          <tui-textfield>
            <label tuiLabel>Name</label>
            <input placeholder="John Wick" tuiTextfield />
          </tui-textfield>
          <footer>
            <button appearance="secondary" tuiButton type="button">Cancel</button>
            <button tuiButton type="submit">Ok</button>
          </footer>
        </form>
        <div
          tuiAppearance="outline-grayscale"
          tuiCardLarge
          [style.grid-column]="'span 3'"
          [style.margin-top.rem]="1"
        >
          <h2 tuiTitle>
            Sidebar content
            <span tuiSubtitle>Use CSS grid to position</span>
          </h2>
        </div>
      </ng-container>
    </main>
  </div>

  <router-outlet />
</tui-root>
