:host {
  // Use TuiThemeColorService instead, this is just for demo purposes
  //--tui-theme-color: #87ceeb;
}

.drawer {
  // Unnecessary when TuiThemeColorService is instead
  color: var(--tui-text-primary);
}

aside {
  &::before {
    display: none;
  }
  & {
    height: calc(100vh - 48px)!important;
  }
}

header::after {
  display: none;
}
